.promo {
    min-height: auto;
    background-color:hsl(209, 100%, 42%);
}
.header {
    display: flex;
    justify-content: space-between;
    padding:10px 0 10px 0;
}
.block_header {
   width:100%;
   display: flex;
   flex-direction: row;
}
.button_ticket {
    color:#000000;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color:#FBE900;
    border: none;
    width: 140px;
    height: 35px;
    cursor: pointer;
    margin-right: 35px;
}
.button-slanted{
    transform: skewX(-35deg);
    transition: .5s all;
}
.button-slanted-content{
    transform: skewX(35deg);  
    display: inline-block;
    margin-top: 5px;
}
.button_ticket:hover{
    box-shadow:3px 3px 20px #FBE900;
    border:none;
    color:#ffffff;
}
.button_bid {
    color:#000000;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color:#FBE900;
    border: none;
    width: 250px;
    height: 35px;
    cursor: pointer;
}
.button_bid:hover{
    box-shadow:3px 3px 20px #FBE900;
    color:#ffffff;
    border:none;
}

.header_social{
   display: flex;
   align-items:center;
   
}
.header_social_item{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #ffffff;
    transition: .5s all;
}

.header_social_item i:hover{
    color: #021033;
    
}
.header_social_item i{
    display: flex;
    margin-top: 8px;
    justify-content: center;
    color:hsl(209, 100%, 42%);
}
.promo_descr {
    display: flex;
    margin-top: 10px;
    flex-grow: 1;
    margin-top: 40px;
}
.promo_header {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    line-height: 30px;
}
.promo_logo {
    margin-right: 50px;
}
.promo_slogan {
    font-size: 36px;
    text-transform: uppercase;
    color:#ffffff;
}
.next_slogan {
    color:#ffffff;
    text-transform: uppercase;
}
nav {
    width:100%;
    background-color:#2186df;
    margin-top: 40px;
}
.menu {
    position: relative;
    z-index: 1;
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    justify-content: space-around;
    margin-bottom:0px;
}
.menu li {
    border-right: 1px solid #0070d9;
}
.menu .menu_item {
    width:160px;
    height: 80px;
    text-align: center;
    padding-top: 30px;
}
.menu .menu_link {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    transition-property: all;
    transition-duration: 0.5s;
}
.menu_item ul li{
    display: none;
}
.menu_item:hover ul li{
    height: 50px;
    background: #2186df;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin-left: -40px;
    border-top: 1px solid #0070d9;
    border-right:none;
}
.menu li ul{
    margin-top: 25px;
}
.menu li ul li:hover{
    background-color: #FBE900;
}
.menu .menu_link:hover{
    color:#000000;
}
.menu .menu_item:hover{
    background-color:#FBE900;
    cursor: pointer;
}
.menu .menu_item:active{
    background-color:#FBE900;
    cursor: pointer;
}

.content {
    min-height: 400px;  
    margin: 30px auto 0;
    padding: 270px 0 0 0;
    width: 1100px;
    background: url(../assets/content.png) center center/cover no-repeat;
}
.content_wrapper{
    display: flex;
    flex-direction: column;
}
.content_text{
    margin-left: 40px;
}
.button_more {
    color:#000000;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color:#FBE900;
    border: none;
    width: 140px;
    height: 35px;
    cursor: pointer;
    margin-left: 40px;
}
.button_more:hover{
    box-shadow:3px 3px 20px #FBE900;
    color:#ffffff;
    border:none;
}
.content_text {
    color:#ffffff;
    font-size: 32px;
    font-weight: 700;
}

.news {
    min-height: 400px;
}
.news_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.news_content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width:auto;
}
.wrapper_content_name{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.main_news_items{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.main_news_other{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}   
.main_news_first_item{
    width: auto;
}
.main_news_second_item{
    width: auto;
}

.main_news_first_item .news_text{
    margin: 10px auto;
    margin-bottom: 0px;
}
.main_news_first_item .button_read{
    margin: 10px 0px 0px 200px;
}
.main_news_second_item .news_text{
    margin: 10px auto;
    margin-bottom: 0px;
}
.main_news_second_item .button_read{
    margin: 10px 0px 0px 200px;
}
.news_text{
    width: 270px;
    margin:30px 30px;
    margin-bottom: 0px;
    line-height: 14px;
    font-weight: 400;
}
.button_read {
    color:#000000;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color:#FBE900;
    border: none;
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin: 10px 0 0 230px;
}
.button_read:hover{
    box-shadow:2px 2px 5px #FBE900;
    color:#ffffff;
    border:none;
}
.table {
    width: 400px;
}
.table_content{
    display: flex;
    flex-direction: column;
}
.table_wrapper{
    display: flex;
    height: 35px;
    background-color:hsl(209, 85%, 42%);
    justify-content: space-around;
}
.premier_block{
    display: flex;
    justify-content: center;
    border: none;
    background-color:hsl(209, 100%, 42%);
    width: 50%;
    height: auto;
    cursor: pointer;
}
.premier_block div:before{
    display: flex;
    justify-content: center;
    border: none;
    background-color:hsl(209, 100%, 42%);
    width: 50%;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.premier_block:hover{
    background-color:#FBE900;
    
}
.premier_block:hover::before{
    transform: translateX(0) skewX(-45deg);
    
}
.premier_descr{
    margin-top: 8px;
    color:#ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
 }
.premier_descr:hover{
    color:#000000;
}

.first_league_block{
    display: flex;
    justify-content: center;
    border: none;
    height: auto;
    width: 50%;
    cursor: pointer;
 }
 .first_league_block:active{
     background-color:#FBE900;
 }
.first_league_descr{
    margin-top: 8px;
    color:#ffffff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.first_league_descr:active{
    color:#000000;
}

thead {
    height: 50px;
    background-color: #021033;
}
th {
    color:#ffffff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px 18px;
}
td {
    text-align: center;
    font-weight: 400;
    height: 40px;
}
.table_variative {
    background-color: #d4e0fd;
}
.caspiy {
    background-color: #FBE900;
}

.matches {
    height: 300px;
    margin-top: 60px;
}
.matches .wrapper_content_name{
    text-align: center;
}
.content_matches {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.block_matches {
    display: flex;
    flex-direction: column;
    align-items:center;
    background: url(../assets/block_matches.png) center center/cover no-repeat;
    width: 350px;
    height: 200px;
}
.descr_matches{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.descr_matches .team {
    margin-top: 10px;
}
.descr_matches .score_match {
    font-size: 40px;
    color:white;
    margin: 0 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.stadion_matches{
    text-align: center;
    line-height: 15px;
    margin-top: 20px;
}
.stadion_matches .stadion_city{
    color:white;
    font-weight: 700;
    text-transform: uppercase;
}
.stadion_matches .stadion_name{
    color:white;
    font-weight: 700;
}

.sponsors {
    display: flex;
    align-items:center;
}
.sponsor_name {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
a.sponsor img {
    width:160px;
    height:80px;
}
.sponsor_name a {
    transition: 0.3s;
    filter: grayscale(1);
}
.sponsor_name a:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}
.sponsor{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 350px;
    height: 250px;
}

footer {
    background-color:hsl(209, 100%, 42%);
    height: 300px;
}
.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
}
.footer_contacts {
    display: flex;
    flex-direction: row;
}
.footer_content .footer_contacts .wrapper_content_name{
    color:white;
    font-weight: 600;
}
.footer_content .footer_contacts .footer_contacts_more {
    color:white;
}
.footer_developer_block {
    display: flex;
    align-items:center;
    height: 100px;
}
.developer {
    display: flex;
    align-items:center;
    color:white;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    list-style-type: none;
    max-height: 30px;
}
.developer:hover {
    color:#021033;
    text-decoration: none;
}

.footer_social{
    display: flex;
    padding-top: 20px;
    
 }
 .footer_social_item{
    width: 64px;
    height: 64px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #ffffff;
    transition: .5s all;
 }
 .footer_social_item a:hover{
     text-decoration: underline;
 }
 .footer_social_item i{
    display: flex;
    font-size: 35px;
    margin-top: 15px;
    justify-content: center;
    color:hsl(209, 100%, 42%);
 }

 .footer_social_item i:hover{
    color: #021033;  
}

.team {
    height: auto;
    margin-top: 50px;
}
.team .wrapper_content_name {
    font-size: 38px;
}
.main_team {
    display: flex;
    flex-direction: column;
}
.main_team .team_goalkeeper {
    display: flex;
    flex-direction: column;
}
.main_team .team_defend {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.main_team .team_attacker {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.main_team .team_goalkeeper .team_goalkeeper_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_team .team_defend .team_defend_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main_team .team_attacker .team_attacker_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.team_content {
    display: flex;
    flex-direction: column;
}
.team_descr {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 600;
}
.player_content {
    position: relative;
    transition: all .3s ease-in-out;
}
.player_content:hover {
    transform: scale(0.93);
}
.content_number_block {
    position: absolute;
    width: 75px;
    border-top: 50px solid rgb(0, 111, 216, 85%);
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    text-align: center;
}
.content_number_style {
    position: absolute;
    margin-top: -46px;
    color:white;
    font-weight: 700;
    font-size: 28px;
}
a.player img{
    width: 340px;
    height: 400px;
}
.hidden_content {
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 10px;
}
.content_name {
    color:#000000;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
    text-transform: uppercase;
}
.content_name:hover {
    color:rgb(0, 111, 216, 85%);
}
.content_flag {
    width: 35px;
    height: 35px;
}

.match {
    height: auto;
}
.match_wrapper {
    margin-top: 50px;
}
.match_schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.schedule_type {
    display: flex;
    flex-direction: row;
}
form {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 210px;
}
label {
    background-color: transparent;
    color: #000000;
    font-size: 10px;
    text-transform: uppercase;
}
#form_select_option{
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    outline: 0;
}
option {
    background-color: transparent;
    color: #03f;
}

.match_wrapper h3.wrapper_content_name {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
}
.match_wrapper .content_matches {
    margin-top: 15px;
}
.match_wrapper .content_matches:last-child {
    margin-bottom: 80px;
}
.match_wrapper .content_matches .block_matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(2, 16, 51, 90%);
    opacity: 0.89;
    width: 550px;
    height: 300px;
}
.match_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: #ffffff;
    width: 550px;
    border: 2px solid #021033;
    margin-top: 0px;
}
.match_stadion {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 20px;
}
.match_stadion_city {
    color: #000000;
}
.match_stadion_name {
    color: #000000;
}

.match_date {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}
.match_wrapper .content_matches .block_matches .descr_matches {
    margin-top:30px;
}

a.match_team img {
    text-align: center;
    width: 150px;
    height: 150px;
}
.match_team_item {
    font-size:72px;
    font-weight: 600;
    margin: 30px 10px 0;
    color: #ffffff;
}
.match_team_descr {
    display: flex;
    text-align: center;
    flex-direction: column;
    
}
.match_team_name {
    font-size: 18px;
    color:#ffffff;
    font-weight: 600;

}
.match_team_city {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.event {
    margin: 50px 0;
}
.event h2.wrapper_content_name{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
.event h3.wrapper_content_name{
    font-size: 22px;
    font-weight: 500;
}
.event_wrapper {
    display: flex;
    flex-direction: column;
}
.event_content {
    display: flex;
    flex-direction: row;
}
.event_content_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.event_subcontent {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
a.event_subcontent_picture img {
    width:350px;
    height:250px;
    border:2px solid #021033;
} 
.event_subcontent_main {
    display: flex;
    flex-direction: column;
    width:350px;
    align-items:center;
}
.event_subcontent_main h3.wrapper_content_name {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 500;
}
.event_subcontent_main .event_line {
    width:350px;
}
.event_subcontent_main .event_text {
    line-height: 18px;
    font-weight: 400;
    margin:0;
    font-size: 14px;
}
.event_subcontent_main .main_event_block {
    width: 350px;
    margin:20px 0 0 0;
    display: flex;
    justify-content: space-around;
}
.event_subcontent_main .main_event_block div.button_read.button-slanted {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #FBE900;
    border: none;
    width: 50px;
    height: 20px;
    cursor: pointer;
    margin:0;
}
.event_subcontent_main .main_event_block span.button-slanted-content {
    margin-top:2px;
    font-size: 10px;
}
.event_content_main {
    display: flex;
    flex-direction: column;
}
a.event_content_picture img {
    width:600px;
    height:400px;
}
.event_content_main {
    align-items:center;
    padding-top: 30px;
    
}
.event_text {
    line-height: 22px;
    font-weight: 400;
    margin: 30px 0 0 20px;
    text-align: justify;
}
.main_event_block {
    width:500px;
    display: flex;
    justify-content: space-around;
    margin: 150px 0 0 20px;
}
.event_block_time {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    margin-right:100px;
}
.event_line {
    width:485px;
    text-align: center;
    border-bottom: 1px #ececec;
}
.main_event_block div.button_read.button-slanted {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #FBE900;
    border: none;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin:0;
}
.event_content_main .main_event_block .button-slanted {
    transform: skewX(-35deg);
    transition: .5s all;
}

.main_event_block div.button_read.button-slanted:hover{
    box-shadow:2px 2px 5px #FBE900;
    color:#ffffff;
    border:none;
}
